*, *:before, body:after {
    		    -webkit-box-sizing: border-box;
			    -moz-box-sizing: border-box;
				box-sizing: border-box;
			}
			
			#content {
				text-align: center;
				color: #333;
                margin: 100px auto;
			}
            
            body {
                font-family:arial;
                font-size: 100%;
            }
            
            h1,  h2{
				color: black;
                background: none;
                background-color: #fff;
                padding: 0;
                text-align: center;
			}
            
            a {
                text-decoration: none;
                color: #ccc;
            }
            
            #downloads {
                padding: 1em;
                text-align: center;
            }
            
            #forkme_banner{
                text-align: right;
                display: block;
            }
            
            .tar_download_link, .zip_download_link {
                text-align: center;
                background-color: #333;
                border: 0.1em solid #ccc;
                padding: 1em;
            }
            
            #content h1 {
                border-top: 1px solid black;
                border-bottom: 1px solid black;
            }
            
            #content div{
                width: 37.500em;
                height: 25.000em;
                display: inline-block;
				background-repeat: no-repeat;
				overflow: auto;
                text-align: left;
            }
            
            #content div > div {
            	border: none;
            }
            
            #content .css {
            	border: 1px solid red;
            }
            
            #content .js {
            	border: 1px solid green;
            }
            
            #content .contain{
				background-image: url('../bgImage.png');
                background-size: contain;
            }
            
            #content .cover{
                background-image: url('../bgImage.jpg');
                background-size: cover;
            }